// ------------------------------------
// Standard colors
// ------------------------------------

$white: #fff;
$black: #000;

$gray1c: #1c1c1c;
$gray1: #211f1f;
$gray2: #232323;
$gray3: #333;
$gray9: #999;
$grayB: #b1b1b1;
$grayC: #ccc;

$darkgray: $gray1;
$midgray: $gray9;
$lightgray: $grayC;

$offwhite-light: #ebebec;
$offwhite-dark: #e5e5e5;

// ------------------------------------
// Skift palette
// ------------------------------------

$yellow: #ffb900;
$light-yellow: #ffdc80;
$orange-yellow: #f1a004;
$blue: #3691ce;
$light-blue: #5fb5ee;
$dark-blue: #2b74a5;
